:root {
	color-scheme: dark;
	--color-text: #dedede;
	--color-card-bg: #130c20;
	--color-li-bg: #261b3c;
	--color-accent-1: #6ad9c4;
	--color-accent-2: #9f0f6f;

	--color-btn-close: #f51b2d;
	--color-btn-info: #f5be19;
	--color-btn-edit: #8ef519 ;
	--color-btn-drag: #6a7dd9;
	--color-fear: #b252fa;
	--color-hope: #fadb46;
	--color-crit: #fa9c35;
	--color-plus: #c9f519;
	--color-minus: #f51957;		

	--font-title: "Fondamento", cursive;
	--font-body: "Quicksand", sans-serif;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.light-mode {
	background-image: url('/assets//bg-light.jpg');

	color-scheme: light;		
	--color-text: #1a162f;
	--color-card-bg: #fbf5e8;
	--color-li-bg: #edead0;
	--color-accent-1: #526536;
	--color-accent-2: #967b2f;

	--color-btn-close: #f6404e;
	--color-btn-info: #409bf6;
	--color-btn-edit: #f6a740;
	--color-btn-drag: #7e9362;
	--color-fear: #8c40f6;
	--color-hope: #f6cf40;
	--color-crit: #d66809;
	--color-plus: #a4c716;
	--color-minus: #c51648;

	--color-menu: #15151550;
}

.dark-mode {
	background-image: url('/assets//bg-dark.jpg');

	color-scheme: dark;
	--color-text: #dedede;
	--color-card-bg: #130c20;
	--color-li-bg: #261b3c;
	--color-accent-1: #6ad9c4;
	--color-accent-2: #9f0f6f;

	--color-btn-close: #f51b2d;
	--color-btn-info: #f5be19;
	--color-btn-edit: #8ef519 ;
	--color-btn-drag: #6a7dd9;
	--color-fear: #b252fa;
	--color-hope: #fadb46;
	--color-crit: #fa9c35;
	--color-plus: #c9f519;
	--color-minus: #f51957;

	--color-menu: #15151550;
}

html {
	font-size: 20px;
}

body {
/* Font*/
	font-family: var(--font-body);
	font-style: normal;
	color: var(--color-text);
/* Alignment */
	/*height: 100vh;*/
	margin: 0;
/* Background */
	background-color: var(--color-li-bg);
	background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
/* Scroll Snap */
	/*overflow-y: scroll;*/
	/*scroll-snap-type: y proximity;*/
	/*overscroll-behavior-y: contain;*/
}

.card-cursor.light-mode {
	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='52px' viewBox='0 -960 960 960' width='52px' fill='%23526536'><path d='M186.67-186.67h386.66v-200h200v-386.66H186.67v586.66Zm0 66.67q-27.5 0-47.09-19.58Q120-159.17 120-186.67v-586.66q0-27.5 19.58-47.09Q159.17-840 186.67-840h586.66q27.5 0 47.09 19.58Q840-800.83 840-773.33V-360L600-120H186.67Zm106.66-293.33V-480h180v66.67h-180Zm0-160V-640h373.34v66.67H293.33ZM186.67-186.67V-773.33v586.66Z'/></svg>") 12 12, auto;
}

.card-cursor.dark-mode {
	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='52px' viewBox='0 -960 960 960' width='52px' fill='%236ad9c4'><path d='M186.67-186.67h386.66v-200h200v-386.66H186.67v586.66Zm0 66.67q-27.5 0-47.09-19.58Q120-159.17 120-186.67v-586.66q0-27.5 19.58-47.09Q159.17-840 186.67-840h586.66q27.5 0 47.09 19.58Q840-800.83 840-773.33V-360L600-120H186.67Zm106.66-293.33V-480h180v66.67h-180Zm0-160V-640h373.34v66.67H293.33ZM186.67-186.67V-773.33v586.66Z'/></svg>") 12 12, auto;
}

.hope, .fear {
	color: #111111a0;
	padding: 0 5px;
	font-weight: 600;
	border-radius: 12px;
}

.hope {
	background-color: var(--color-hope);
}

.fear {
	background-color: var(--color-fear);
}

.crit {
	font-weight: 600;
	color: var(--color-crit);
}

p {
	margin: 0
}

p + p {
	margin: 0.6rem 0 0 0
}

::-webkit-resizer {
	background: var(--color-accent-1);
	border-radius: 100% 0 12px 0;
}